.cards__modal-hdr[data-v-5c01ea58] {
  padding-left: 40px;
}
.cards__modal-info[data-v-5c01ea58] {
  margin-top: 40px;
  padding-left: 40px;
}
.cards h4[data-v-5c01ea58] {
  margin-bottom: 10px;
}
.cards__modal-text[data-v-5c01ea58] {
  margin-bottom: 20px;
  line-height: 24px;
}

.hidden__item[class*="IVANPAY_"] {
  display: none !important;
}
